/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    font-size: 14px;
    padding-bottom: 0;
    color: #5a5a5a;
}

a {
    color: #337ab7;
}

h3 a {
    font-weight: bold;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: relative;
    z-index: 20;
}

.navbar-wrapper ul {
    list-style: none !important; /* IE FIX */
}

footer {
    padding: 30px 30px 20px 30px;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

footer .links a {
    margin-right: 20px;
}

#article p {
    margin: 25px 0;
}

#article {
    font-size: 16px;
    line-height: 25px;
}

#article h1 {
    font-size: 32px;
    font-weight: bold;
}

#article h2 {
    font-size: 25px;
    margin: 60px 0 20px;
}

#article h3 {
    font-size: 20px;
    margin: 30px 0 10px;
}

#article th {
    background-color: #4a90e2;
    color: white;
    text-align: center;
}

#article table {
    width: 100%;
}

#article th, td {
    padding: 5px 10px;
}

#article table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#article tr:hover {
    background-color: #ccc !important;
}

#article-sidebar {
    line-height: 1.2;
    padding: 0;
    margin: 0 10px;
}

#article-sidebar li {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#article-sidebar li a {
    font-size: 20px;
    font-weight: bold;
}

.news-item-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

#root label {
    font-weight: bold;
    width: 100%;
}

#root input, #root textarea {
    font-weight: normal;
    width: 100%;
}

#root textarea {
    font-weight: normal;
    height: 300px;
    font-family: monospace;
}

#root hr {
    width: 100%;
    margin: 10px 0;
}

#root input[type="submit"] {
    font-weight: bold;
    border: 2px solid #4a90e2;
    background-color: #4a90e2;
    padding: 5px 16px;
    color: white;
    margin: 10px 0;
}

#root input[type="submit"]:hover {
    background-color: white;
    color: #4a90e2;
}

.add-content-widget select {
    float: left;
    border: 1px solid #ccc;
    height: 34px;
    width: 200px;
    background: transparent;
    padding: 5px;
    margin: 0 0 10px 0;
}

.add-content-widget .add-content-button {
    color: #4a90e2;
    font-weight: bold;
    border: 2px solid #4a90e2;
    padding: 5px 16px;
    float: left;
    margin: 0 10px 10px 10px;
}

.add-content-widget .add-content-button:hover {
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
}

#homepage-video {
    float: left;
    clear: both;
    width: 100%;
}

#homepage-video h3 {
    font-weight: bold;
    margin: 10px 0;
}

.playlist-element {
    height: 122px;
    margin: 0 0 10px 0;
    background-color: #333333;
    padding: 10px;
    color: white;
    font-size: 12px;
    text-overflow: ellipsis;
}

.playlist-element a {
    font-weight: bold;
    color: white;
}

.cover-all {
    display: block;
    height: 100%;
    width: 100%;
}

.video-image {
    margin-right: 10px;
    width: 50%;
    height: 102px;
    float: left;
    background-size: cover;
    background-position: center;
}

.player {
    text-align: center;
}

h2.banner {
    font-size: 22px;
    margin: 10px 0;
    padding: 10px 0 10px 10px;
    display: block;
    color: white;
    background-color: #333333;
}

#top-news {
    position: relative;
}

#top-news > div {
    height: 195px;
    width: 100%;
    margin: 5px 0;
    color: white;
    text-shadow: 0 0 4px black;
    background-size: cover;
    background-position: center;
    position: relative;
}

#top-news div.header {
    padding: 10px 20px;
    display: block;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

#top-news a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.news-column {
    border-top: solid 5px #4a90e2;
    padding: 20px 0 0 0;
}

footer {
    background-color: #333333;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

footer ul {
    /*list-style: none;*/
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
}

.logo {
    border: 0 solid #333333;
    border-bottom-width: 20px;
}

iframe.youtube {
    height: 200px;
}

#article p.description {
    margin: 15px 0 0 0;
    font-weight: bold;
}

@media (min-width: 600px) {
    iframe.youtube {
        height: 300px;
    }

    .playlist-element {
        font-size: 15px;
    }
}

@media (min-width: 800px) {
    iframe.youtube {
        height: 400px;
    }
}

@media (min-width: 1024px) {
    #article {
        float: left;
        width: 66.7%;
        padding-right: 15px;
    }

    #sidebar {
        float: right;
        width: 33.3%;
        padding-left: 15px;
    }

    #article h1 {
        font-size: 40px;
    }

    #top-news {
        height: 410px;
        margin: 5px -5px 0;
    }

    #top-news > div {
        height: 195px;
        width: calc(40% - 10px);
        float: left;
        margin: 5px;
        color: white;
        text-shadow: 0 0 4px black;
        background-size: cover;
        background-position: center;
        position: relative;

    }

    #top-news div.item-1 {
        width: calc(60% - 10px);
        height: 400px;
    }

    #top-news div.item-1 a {
        width: calc(50% - 10px);
        height: 400px;
        font-size: 32px;
    }

    #top-news a {
        font-size: 22px;
    }

    #top-news .author {
        margin-left: 30px;
    }

    .news-item {
        float: left;
        width: 100%;
        height: 210px;
        margin: 20px 0;
    }

    .news-item-image {
        width: 300px;
        float: left;
    }

    .news-item-content {
        float: right;
        width: calc(100% - 347px);
    }

    .news-item-content p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .news-column {
        width: calc(66% - 5px);
        margin: 15px 0;
        float: left;
    }

    .events-column {
        width: calc(33% - 10px);
        margin: 5px 0;
        float: right;
    }

    #root {
        width: 66%;
    }

    .playlist-element {
        float: right;
        width: 39%;
    }

    .player {
        width: 60%;
        float: left;
    }

    iframe.youtube {
        height: 385px;
    }

    #simple-form {
        width: 60%;
        float: left;
    }

    #simple-form form div div {
        padding: 10px;
        clear: both;
    }

    #simple-form label {
        text-align: left;
        display: block;
        float: left;
        width: 30%;
    }

    #simple-form input, #simple-form textarea {
        display: block;
        float: right;
        width: 65%;
    }

    #simple-form textarea {
        height: 200px;
    }

    #simple-form button[type="submit"] {
        clear: both;
        float: right;
        font-weight: bold;
        border: 2px solid #4a90e2;
        background-color: #4a90e2;
        padding: 5px 16px;
        color: white;
        margin: 10px;
        width: calc(65% - 12px);
    }

    #simple-form button[type="submit"]:hover {
        background-color: white;
        color: #4a90e2;
    }
}
